@import '../../../global/global.css';

.seção {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 80px;
    left: 250px;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #580303;
    width: 300px;
    height: 700px;
    border-top: 6px solid #990033;
    border-bottom: 6px solid #990033;
    color: #333333;
    z-index: 10;
}