@import './global.css';

.floating {
    position: absolute;
    bottom: 20px;
    top: 620px;
    right: 250px;
    width: 260px;
    height: auto;
    z-index: 10;
}

.floating img {
    width: 100%;  
    height: auto;
}