@import '../pages/avisos.css';
@import '../pages/Home/page.css';
@import './logo.css';

/* Estilos para o corpo da página */
body {
    font-family: 'Montserrat', sans-serif;
    background: url('../../src/global/image.png') no-repeat center center fixed;
    background-size: cover; /* Ajusta o tamanho da imagem para caber na área sem cortar */
    background-attachment: fixed; /* Faz a imagem de fundo ficar fixa na tela */
    background-position: center center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilos do cabeçalho */
header {
    position: absolute;
    top: -80px;
    left: 10px;
}

.seção {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 80px;
    left: 250px;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #580303;
    width: 300px;
    height: 700px;
    border-top: 6px solid #990033;
    border-bottom: 6px solid #990033;
    color: #333333;
    z-index: 10;
}

/* Estilos do contêiner principal */

.frequente {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px #580303;
    width: 700px;
    border-top: 6px solid #990033;
    border-bottom: 6px solid #990033;
    max-height: 90vh;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
    height: 750px;
}

.cancel {
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px #580303;
    width: 1000px;
    border-top: 6px solid #990033;
    border-bottom: 6px solid #990033;
    max-height: 90vh;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
    height: 750px;
    left: 150px;
}

.cancel p{
    font-size: 1.16em;
}

.cancel div[contenteditable="true"] {
    text-decoration: none; /* Remove qualquer sublinhado */
    outline: none; /* Remove o contorno ao clicar */
}

.frequente button{
    width: 400px;
    display: block; /* Certifica-se de que o botão ocupe toda a linha */
    margin: 0 auto; /* Centraliza horizontalmente */
    margin-top: 50px;
}

.container {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px #580303;
    width: 700px;
    border-top: 6px solid #990033;
    border-bottom: 6px solid #990033;
    max-height: 90vh;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
    height: 750px;
}

.container div[contenteditable="true"] {
    text-decoration: none; /* Remove qualquer sublinhado */
    outline: none; /* Remove o contorno ao clicar */
}

.jantares {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px #580303;
    width: 700px;
    border-top: 6px solid #990033;
    border-bottom: 6px solid #990033;
    max-height: 90vh;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
    height: 750px;
}

.capacidade {
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px #580303;
    width: 1000px;
    border-top: 6px solid #990033;
    border-bottom: 6px solid #990033;
    max-height: 90vh;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
    height: 750px;
    left: 150px;
}

.capacidade p{
    font-size: 1.16em;
}

.capacidade div[contenteditable="true"] {
    text-decoration: none; /* Remove qualquer sublinhado */
    outline: none; /* Remove o contorno ao clicar */
}

.jantares button{
    width: 400px;
    display: block; /* Certifica-se de que o botão ocupe toda a linha */
    margin: 0 auto; /* Centraliza horizontalmente */
    margin-top: 50px;
}

/* Estilos para cabeçalhos */
h1 {
    text-align: center;
    color: #990033;
    margin-bottom: 30px;
    font-size: 2em;
}

/* Estilos dos campos de formulário */
label {
    display: block;
    margin: 20px 0 10px;
    color: #333333;
    font-weight: bold;
    font-size: 1.2em;
}

textarea, input[type="file"], select, input[type="text"], input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #990033;
    border-radius: 4px;
    font-size: 1.1em;
    box-sizing: border-box;
}

textarea:focus, input[type="file"]:focus, select:focus, input[type="text"]:focus, input[type="password"]:focus {
    border-color: #990033;
    outline: none;
}

/* Estilos dos botões */
button {
    width: 100%;
    padding: 15px;
    background-color: #990033;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #990033;
}

/* Estilos do contêiner de saída */
#output {
    margin-top: 20px;
}

/* Estilos das mensagens */

.message {
    background-color: #f9f9f9;
    border: 1px solid #990033;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    white-space: pre-wrap;
    font-size: 1.1em;
    box-sizing: border-box;
}

.message-container .input-container {
    display: flex;
    margin-top: 10px;
}

.additional-text-input {
    flex: 1;
    padding: 10px;
    border: 2px solid #990033;
    border-radius: 4px;
    font-size: 1.1em;
    background-color: #f9f9f9;
    box-sizing: border-box;
    max-width: 200px;
}

.additional-text-input:focus {
    border-color: #990033;
    outline: none;
}

/* Estilos da tabela de dados */
.data-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.data-table th, .data-table td {
    border: 2px solid #990033;
    padding: 10px;
    text-align: left;
    background-color: #f9f9f9;
    vertical-align: middle;
}

.data-table th {
    background-color: #990033;
    color: white;
    position: sticky;
    top: 0;
    z-index: 5;
    text-align: center;
}

.data-table td {
    background-color: #ffffff;
}

.data-table tr:nth-child(even) td {
    background-color: #f1f1f1;
}

/* Estilos do botão de seleção */
.select-button {
    width: 20px;
    height: 20px;
    border: 2px solid #990033;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
}

.select-button.selected {
    background-color: #990033;
}

.select-button.selected::after {
    content: "✔";
    color: white;
    font-size: 14px;
}

/* Estilos do contêiner de login aprimorado */
.logincontainer {
    background: transparent;
    padding: 60px; /* Aumente o padding para dar mais espaço interno */
    border-radius: 12px;
    box-shadow: 0 10px 30px #580303;
    width: 500px; /* Aumente a largura do contêiner */
    border-top: 6px solid #990033;
    border-bottom: 6px solid #990033;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logincontainer h2 {
    text-align: center;
    color: #990033;
    margin-bottom: 30px;
    font-size: 2.2em; /* Aumente o tamanho da fonte do título */
    font-weight: 600;
}

.logincontainer label {
    display: block;
    margin: 10px 0 5px;
    color: #990033;
    font-weight: bold;
    font-size: 1.3em; /* Aumente o tamanho da fonte dos rótulos */
}

.logincontainer input[type="text"], 
.logincontainer input[type="password"], 
.logincontainer select {
    width: calc(100% - 40px); /* Ajuste a largura para o novo tamanho do contêiner */
    padding: 15px 20px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 25px;
    font-size: 1.2em; /* Aumente o tamanho da fonte dos inputs */
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    background: transparent; /* Substitua a cor de fundo por transparente */
}

.logincontainer input[type="text"]:focus, 
.logincontainer input[type="password"]:focus, 
.logincontainer select:focus {
    border-color: #990033;
    outline: none;
}

.logincontainer input[type="text"]::placeholder, 
.logincontainer input[type="password"]::placeholder {
    color: #999;
    font-style: italic;
}

.hidden {
    display: none;
}

.login-button {
    width: calc(100% - 30px); /* Ajuste a largura do botão para o novo tamanho do contêiner */
    padding: 15px;
    background-color: #990033;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1.3em; /* Aumente o tamanho da fonte do botão */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-button:hover {
    background-color: #990033;
    transform: translateY(-3px);
}

.cadastro {
    width: calc(100% - 30px); /* Ajuste a largura do botão para o novo tamanho do contêiner */
    padding: 15px;
    background-color: transparent;
    color: #990033;
    border: none;
    border-radius: 25px;
    font-size: 1.3em; /* Aumente o tamanho da fonte do botão */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cadastro:hover {
    background-color: transparent;
    transform: translateY(-3px);
}

/* Efeito de foco nos campos de entrada */
.logincontainer input[type="text"]:focus, 
.logincontainer input[type="password"]:focus {
    border-color: #990033;
    box-shadow: 0 0 10px rgba(153, 0, 51, 0.2);
}

/* Estilos do robô flutuante */
.floating {
    position: absolute;
    bottom: 20px;
    top: 620px;
    right: 250px;
    width: 260px;
    height: auto;
    z-index: 10;
}

.floating img {
    width: 100%;  
    height: auto;
}