@import '../global/global.css';

.logo {
    width: 350px;
    height: auto;
    position: absolute;
    left: 40px;
    top: 30px;
}

@media screen and (min-width: 2560px) {
    /* Estilos específicos para telas com largura mínima de 2560px */
    .logo{
        left: 140px;
        top: 10px;
    }
}

/* 4k-2560px */
@media screen and (min-width: 2560px) {
    .logo{
        left: 140px;
        top: 10px;
    }
}

/* L-1440px */
@media screen and (min-width: 1440px) {
    .logo{
        left: 140px;
        top: 10px;
    }
}

/* laptop-1024px */
@media screen and (min-width: 1024px) {
    .logo{
        left: 140px;
        top: 10px;
    }
}

/* tablet-768px */
@media screen and (min-width: 768px) {
    .logo{
        left: 140px;
        top: 10px;
    }
}

/* mobile L-425px */
@media screen and (min-width: 425px) {
    .logo{
        left: -100px;
        top: 80px;
    }
}

/* mobile M-375px */
@media screen and (min-width: 375px) and (max-width: 424px) {
    .logo{
        left: -100px;
        top: 80px;
    }
}

/* mobile S-320px */
@media screen and (min-width: 320px) and (max-width: 374px) {
    .logo{
        left: -90px;
        top: 50px;
        width: 250px;
        height: auto;
    }
}