@import '../global/global.css';

.logo {
    width: 350px;
    height: auto;
    position: absolute;
    left: 40px;
    top: 30px;
}



/* 4k-2560px */
@media screen and (min-width: 2560px){
    .logo{
        left: 140px;
        width: 425px;
        height: auto;
    }
}

/* L-1440px */
@media screen and (min-width: 1440px) and (max-width: 2559px){
    .logo{
        left: 140px;
        top: 10px;
    }
}

/* laptop-1024px */
@media screen and (min-width: 1024px) {
    .logo{
        left: 140px;
        top: 10px;
    }
}

/* tablet-768px */
@media screen and (min-width: 768px) {
    .logo{
        left: 140px;
        top: 10px;
    }
}

/* mobile L-425px */
@media screen and (min-width: 425px) and (max-width: 767px) {
    .logo{
        left: -130px;
        top: 80px;
        width: 350px;
        height: auto;
    }
}

/* mobile M-375px */
@media screen and (min-width: 375px) and (max-width: 424px) {
    .logo{
        left: -70px;
        top: 60px;
        width: 250px;
        height: auto;
    }
}

/* mobile S-320px */
@media screen and (min-width: 320px) and (max-width: 374px) {
    .logo{
        left: -80px;
        top: 50px;
        width: 250px;
        height: auto;
    }
}