@import "../frequentes.css";

.cancel {
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px #580303;
    width: 1000px;
    border-top: 6px solid #990033;
    border-bottom: 6px solid #990033;
    max-height: 90vh;
    overflow-y: auto;
    box-sizing: border-box;
    position: absolute;
    height: 700px;
    right: 550px;
    top: 200px;
}

.cancel p{
    font-size: 1.16em;
}

.cancel div[contenteditable="true"] {
    text-decoration: none; /* Remove qualquer sublinhado */
    outline: none; /* Remove o contorno ao clicar */
}

@media screen and (min-width: 2560px) {
    .cancel{
        right: 950px;
        height: 743px;
    }
}