@import '../../global/global.css';

.page {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px #580303;
    width: 700px;
    border-top: 6px solid #990033;
    border-bottom: 6px solid #990033;
    max-height: 90vh;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
    height: 750px;
}